.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.retro-pane {
  width: 100% ;
  height: 5rem;
  background: rgb(238, 217, 217);
  position: relative;
  border-top-right-radius: 20%;
  border-top-left-radius: 20%;

  /* margin-top: 80px !important; */
}

.retro-pane:before {
  content: "";
  position: absolute;
  left: 30%;
  border-radius: 50%;
  box-shadow: 0 -40px 0 0 rgb(238, 217, 217);

  width: 40%;
  height: 80%;
}

.rounded-4{
  border: dashed ;
}

